html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

blockquote, q {
  quotes: none; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

[hidden],
template {
  display: none; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: inherit;
  font-size: inherit; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  text-transform: none; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: not-allowed; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto; }

* {
  font: inherit;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@media print {
  .no-print,
  .icon,
  form,
  input,
  button {
    display: none; } }

body,
html {
  font-size: 12px;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
  line-height: 1.4;
  color: #000;
  background: #fff; }

small,
.small {
  color: inherit;
  font-size: 75%; }

* {
  box-sizing: border-box;
  outline-color: #F78B3D; }

a {
  color: #F78B3D;
  text-decoration: none; }

ul,
ol,
table,
p {
  margin: 1em 0; }

ul,
ol {
  list-style-position: inside; }

ul {
  list-style-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBjeD0iNSIgY3k9IjUiIHI9IjQiIHN0cm9rZT0iI0Y3OEIzRCIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+); }

li {
  margin: 0.5em 0; }

.is-disabled,
[disabled] {
  cursor: not-allowed; }

.is-loading {
  cursor: progress; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0.5em 0;
  color: currentColor; }

h1,
.h1 {
  font-size: 18px;
  font-weight: 600; }

h2,
.h2 {
  font-size: 16px;
  font-weight: 500; }

h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
  font-size: 12px;
  font-weight: 600; }

textarea,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"] {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #000;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 14px;
  font-weight: 400;
  box-shadow: none; }
  textarea::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder {
    color: #7A7A7A; }
  textarea::-moz-placeholder,
  input[type="text"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="search"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder {
    color: #7A7A7A; }
  textarea:-moz-placeholder,
  input[type="text"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="search"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder {
    color: #7A7A7A; }
  textarea:-ms-input-placeholder,
  input[type="text"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="search"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder {
    color: #7A7A7A; }
  textarea:active, textarea:focus,
  input[type="text"]:active,
  input[type="text"]:focus,
  input[type="email"]:active,
  input[type="email"]:focus,
  input[type="search"]:active,
  input[type="search"]:focus,
  input[type="tel"]:active,
  input[type="tel"]:focus {
    border-color: #F78B3D; }

textarea {
  min-height: 165px;
  resize: vertical; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"] {
  height: 40px; }

[disabled],
.is-disabled {
  opacity: 0.5;
  cursor: not-allowed; }

.icon-Cart {
  font-size: 20px;
  height: 1em;
  width: 1em; }

.icon-Catalog {
  font-size: 20px;
  height: 1em;
  width: 1em; }

.icon-Mail {
  font-size: 20px;
  height: 1em;
  width: 1em; }

.icon-New {
  font-size: 25px;
  height: 1em;
  width: 1em; }

.icon-Search {
  font-size: 20px;
  height: 1em;
  width: 1em; }

.icon-bookmark {
  font-size: 25px;
  height: 1em;
  width: 1em; }

.icon-calendar {
  font-size: 25px;
  height: 1em;
  width: 1em; }

.icon-clock {
  font-size: 20px;
  height: 1em;
  width: 1em; }

.icon-close {
  font-size: 20px;
  height: 1em;
  width: 1em; }

.icon-delete {
  font-size: 20px;
  height: 1em;
  width: 1em; }

.icon-di {
  font-size: 18px;
  height: 1em;
  width: 1.22222em; }

.icon-down {
  font-size: 15px;
  height: 1em;
  width: 1em; }

.icon-home {
  font-size: 25px;
  height: 1em;
  width: 1em; }

.icon-icon {
  font-size: 20px;
  height: 1em;
  width: 1em; }

.icon-minus {
  font-size: 15px;
  height: 1em;
  width: 1em; }

.icon-phone {
  font-size: 20px;
  height: 1em;
  width: 1em; }

.icon-plus {
  font-size: 15px;
  height: 1em;
  width: 1em; }

.icon-right {
  font-size: 15px;
  height: 1em;
  width: 1em; }

.icon-star {
  font-size: 25px;
  height: 1em;
  width: 1em; }

.icon-tag {
  font-size: 25px;
  height: 1em;
  width: 1em; }

.h-hidden {
  display: none !important; }

@media (min-width: 0) {
  .h-hidden-xxs-up {
    display: none !important; } }

@media (max-width: -1) {
  .h-hidden-xxs-down {
    display: none !important; } }

@media (min-width: 425px) {
  .h-hidden-xs-up {
    display: none !important; } }

@media (max-width: 424px) {
  .h-hidden-xs-down {
    display: none !important; } }

@media (min-width: 768px) {
  .h-hidden-sm-up {
    display: none !important; } }

@media (max-width: 767px) {
  .h-hidden-sm-down {
    display: none !important; } }

@media (min-width: 1024px) {
  .h-hidden-md-up {
    display: none !important; } }

@media (max-width: 1023px) {
  .h-hidden-md-down {
    display: none !important; } }

@media (min-width: 1280px) {
  .h-hidden-lg-up {
    display: none !important; } }

@media (max-width: 1279px) {
  .h-hidden-lg-down {
    display: none !important; } }

@media (min-width: 1440px) {
  .h-hidden-xl-up {
    display: none !important; } }

@media (max-width: 1439px) {
  .h-hidden-xl-down {
    display: none !important; } }

@media (min-width: 1680px) {
  .h-hidden-xxl-up {
    display: none !important; } }

@media (max-width: 1679px) {
  .h-hidden-xxl-down {
    display: none !important; } }

@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.a-opacity {
  animation: opacity 0.3s ease-out; }

.l-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px; }

.icon {
  display: inline-block;
  line-height: 0;
  padding: 0;
  color: inherit;
  fill: currentColor;
  stroke: none;
  font-size: 1em;
  width: 1em;
  height: 1em; }
  .icon.icon--center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.5em;
    margin-top: -0.5em; }

.icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  padding: 0;
  background: #F4F4F4;
  color: #000;
  line-height: 0;
  font-size: 40px;
  width: 1em;
  height: 1em;
  border-radius: 12px;
  transition: color 0.3s ease-out, background 0.3s ease-out; }
  .icon-box__icon {
    font-size: 0.5em; }
  .icon-box.icon-box--orange {
    color: #fff;
    background: #F78B3D linear-gradient(to bottom, rgba(255, 255, 255, 0.2), #F78B3D); }
  .icon-box.icon-box--blue {
    background: #312e76;
    color: #fff; }
  .icon-box.icon-box--white {
    background: #fff;
    color: #312E76; }
  .icon-box.icon-box--round {
    border-radius: 0.5em; }
  .icon-box.icon-box--small {
    font-size: 32px; }
    .icon-box.icon-box--small .icon-box__icon {
      font-size: 20px; }

img,
.image {
  border: none;
  max-width: 100%; }

.button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #000;
  background: #fff;
  border: 1px solid #E7E7E7;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  padding: 9px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease-out; }
  .button__icon {
    color: #A8A8A8;
    font-size: 20px;
    margin-right: 10px;
    vertical-align: top; }
  .button.button--black {
    color: #fff;
    background: #3A3A3A;
    border-color: #3A3A3A; }
  .button.button--white {
    background: #fff;
    border-color: #fff;
    color: #000; }
  .button.button--orange {
    background: #F78B3D;
    border-color: #F78B3D;
    color: #fff; }
  .button.button--block {
    display: block;
    width: 100%; }
  .button.button--small {
    padding-top: 4px;
    padding-bottom: 4px; }
  .button.button--large {
    padding-top: 11px;
    padding-bottom: 11px; }
  .button.button--round {
    border-radius: 20px; }

.badge {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background: #F0F4FD;
  color: #122351;
  font-size: 10px;
  line-height: 1;
  padding: 5px;
  min-width: 20px;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase; }
  .badge.badge--orange {
    background: #F78B3D;
    color: #fff; }
  .badge.badge--yellow {
    color: #885945;
    background: #FDFAF0; }
  .badge.badge--red {
    color: #AC3434;
    background: #FDF0F0; }
  .badge.badge--small {
    padding: 3px;
    border-radius: 8px; }

.owl-carousel {
  direction: ltr; }

.owl-nav {
  direction: ltr; }
  .owl-nav button.owl-prev,
  .owl-nav button.owl-next {
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    top: 50%;
    background: #FF297A;
    color: #fff;
    font-size: 50px;
    width: 1em;
    height: 2em;
    margin-top: -1em;
    transition: background-color 0.3s ease-out; }
    .owl-nav button.owl-prev .icon,
    .owl-nav button.owl-next .icon {
      display: block;
      position: absolute;
      font-size: 0.3em;
      left: 50%;
      top: 50%;
      margin-left: -0.5em;
      margin-top: -0.5em; }
    .owl-nav button.owl-prev:hover,
    .owl-nav button.owl-next:hover {
      background-color: #f5005d; }
    .owl-nav button.owl-prev:active,
    .owl-nav button.owl-next:active {
      background-color: #dc0053; }
    .owl-nav button.owl-prev[disabled], .owl-nav button.owl-prev.is-disabled, .owl-nav button.owl-prev.disabled,
    .owl-nav button.owl-next[disabled],
    .owl-nav button.owl-next.is-disabled,
    .owl-nav button.owl-next.disabled {
      background-color: #ff76aa;
      cursor: not-allowed; }
  .owl-nav button.owl-prev {
    left: 0;
    border-radius: 0 15px; }
  .owl-nav button.owl-next {
    right: 0;
    border-radius: 15px 0; }

.owl-item img {
  width: auto; }

.owl-dots {
  text-align: center;
  line-height: 0;
  font-size: 0;
  position: relative;
  direction: ltr;
  margin-top: 15px; }
  .owl-dots button.owl-dot {
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    box-shadow: none;
    padding: 0;
    outline: none;
    border: none;
    width: 6px;
    height: 6px;
    background: #E0E8EB;
    margin: 0 4px;
    transition: background 0.3s; }
    .owl-dots button.owl-dot.active {
      background: #625878; }

.owl-drag {
  cursor: move; }

.section {
  padding: 30px 0;
  position: relative; }
  .section.section--grey {
    background: #F4F4F4; }
  .section.section--top {
    padding-bottom: 0; }
  .section.section--bottom {
    padding-top: 0; }

.section-title {
  font-size: 18px;
  color: #000;
  font-weight: 500; }
  .section-title__icon {
    flex: 0 0 auto;
    font-size: 1.4em;
    line-height: 0;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
    position: relative;
    color: #122351; }
  .section-title__title {
    font-size: 1em;
    color: currentColor;
    flex: 1 1 auto;
    margin: 0;
    font-weight: 500; }
  .section-title.has-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start; }

.section-head {
  margin-bottom: 20px; }

.section-footer {
  text-align: center;
  margin-top: 20px; }

.l-mobile {
  overflow: hidden;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column; }
  .l-mobile__header, .l-mobile__footer {
    flex: 0 0 auto; }
  .l-mobile__main {
    flex: 1 1 auto;
    padding-top: 15px;
    padding-bottom: 30px; }
  .l-mobile__head {
    margin-bottom: 15px; }

.button-menu__icon {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -5px;
  transition: transform 0.3s ease-out; }

.button-menu__line {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  background: currentColor;
  transition: opacity 0.3s ease-out; }
  .button-menu__line:nth-child(1) {
    top: 0;
    transition: top 0.3s ease-out 0.15s, transform 0.3s ease-out; }
  .button-menu__line:nth-child(2) {
    top: 50%;
    margin-top: -1px; }
  .button-menu__line:nth-child(3) {
    bottom: 0;
    transition: bottom 0.3s ease-out 0.15s, transform 0.3s ease-out; }

.button-menu.is-active .button-menu__icon {
  transform: scale(2); }

.button-menu.is-active .button-menu__line:nth-child(1) {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
  transition: top 0.3s ease-out, transform 0.3s ease-out 0.15s; }

.button-menu.is-active .button-menu__line:nth-child(2) {
  opacity: 0; }

.button-menu.is-active .button-menu__line:nth-child(3) {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
  transition: bottom 0.3s ease-out, transform 0.3s ease-out 0.15s; }

.menu-app {
  background: #fff; }
  .menu-app ul,
  .menu-app li {
    display: block;
    padding: 0;
    margin: 0; }
  .menu-app li {
    border-bottom: 1px solid #F6F6F6; }
  .menu-app__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    text-decoration: none;
    color: #202020;
    font-size: 14px;
    line-height: 25px;
    padding: 10px 15px;
    font-weight: 500; }
    .menu-app__item__icon, .menu-app__item__image {
      flex: 0 0 30px;
      position: relative; }
    .menu-app__item__icon {
      font-size: 20px;
      margin-left: 10px; }
    .menu-app__item__image {
      font-size: 0;
      line-height: 0;
      text-align: center;
      margin-right: 10px; }
    .menu-app__item__title {
      flex: 1 1 auto; }
    .menu-app__item:active, .menu-app__item.is-active {
      background: #F6F6F6; }

.rating {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 15px; }
  .rating__item {
    flex: 0 0 auto;
    color: #EAEAEA; }
    .rating__item.is-active {
      color: #FFC700; }

.icon-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 500; }
  .icon-block__icon {
    flex: 0 0 auto;
    margin-right: 15px; }
  .icon-block__title {
    font-size: 16px;
    margin-bottom: 5px; }
  .icon-block__body {
    flex: 1 1 auto; }

.counter {
  display: flex;
  align-self: stretch;
  justify-content: flex-end;
  border: 1px solid #E7E7E7;
  background: #fff;
  border-radius: 4px; }
  .counter__button, .counter__input {
    height: 38px;
    background: none;
    border-radius: 0; }
  .counter__button {
    flex: 0 0 35px;
    width: 35px;
    position: relative;
    color: #A8A8A8;
    border: none; }
    .counter__button:active, .counter__button:focus {
      color: #F78B3D; }
  .counter__input {
    flex: 1 1 auto;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    padding: 5px;
    min-width: 40px;
    font-weight: 700;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #E7E7E7;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield; }
    .counter__input::-webkit-outer-spin-button, .counter__input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }

.order-info__item {
  margin-bottom: 20px; }
  .order-info__item:last-child {
    margin-bottom: 0; }

.cart-total {
  text-align: center;
  color: #fff;
  padding: 30px;
  border-radius: 6px;
  background: #F78B3D linear-gradient(to bottom, rgba(255, 255, 255, 0.2), #F78B3D); }
  .cart-total__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px; }
  .cart-total__price {
    font-size: 18px;
    font-weight: 700; }
  .cart-total__button {
    margin-top: 20px; }

.product-panel {
  display: block;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 0 2px rgba(160, 160, 160, 0.4);
  border-radius: 6px;
  padding: 40px 10px 10px 10px; }
  .product-panel__head {
    margin-bottom: 5px; }
  .product-panel__footer {
    margin-top: 8px; }
  .product-panel__image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    line-height: 0;
    height: 80px; }
    .product-panel__image img {
      max-height: 80px; }
  .product-panel__badges {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px; }
  .product-panel__badge {
    flex: 0 0 auto;
    margin: 0 5px 5px 0; }
  .product-panel__title {
    color: #122351;
    font-weight: 600;
    text-decoration: none; }
  .product-panel__prices {
    margin-bottom: 5px; }
  .product-panel__price {
    color: #000;
    font-weight: 700;
    margin-right: 5px; }
  .product-panel__price-old {
    color: #A9A9A9;
    font-weight: 400;
    text-decoration: line-through; }
  .product-panel__reviews {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; }
  .product-panel__rating {
    flex: 0 0 auto; }
  .product-panel__reviews-count {
    flex: 0 0 auto;
    margin-left: 5px; }

.section-slider .owl-carousel {
  display: block;
  overflow: visible; }

.section-slider .owl-stage-outer {
  overflow: visible; }

.section-slider__outer {
  margin-right: -15px;
  margin-left: -15px; }

.section-slider__carousel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  padding-left: 15px; }

.section-slider__item {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  flex: 0 0 275px;
  width: 275px;
  height: 110px;
  margin-right: 15px;
  border-radius: 10px; }
  .section-slider__item img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form-search {
  display: block;
  position: relative; }
  .form-search__submit {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40px;
    background: none;
    border: none;
    padding: 0;
    font-size: 20px;
    color: #A9A9A9; }
  .form-search__input[type="search"], .form-search__input[type="text"] {
    padding-left: 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); }

.pager ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0 -5px; }
  .pager ul li {
    display: inline-block;
    padding: 0 5px;
    margin: 0 0 10px 0; }

.pager__item {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  padding: 1px;
  min-width: 22px;
  min-height: 22px;
  border-radius: 11px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background: #312E76; }
  .pager__item.is-active {
    color: #312E76;
    background: #F0F4FD; }

.text-block {
  margin-bottom: 2em; }

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 2px rgba(160, 160, 160, 0.4);
  border-radius: 6px;
  border: 1px solid #E0E8EB;
  padding: 30px 25px; }
  .brand__image {
    font-size: 0;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px; }
    .brand__image img {
      max-height: 80px; }
  .brand__footer {
    margin-top: 30px; }

.breadcrumbs {
  color: #898989;
  font-weight: 600;
  line-height: 1.2em; }
  .breadcrumbs__item, .breadcrumbs__icon {
    vertical-align: middle; }
  .breadcrumbs__item {
    display: inline;
    text-decoration: none; }
    .breadcrumbs__item[href] {
      color: #000; }
  .breadcrumbs__icon {
    display: inline-block;
    font-size: 1.2em; }

.review {
  padding: 15px;
  color: #000;
  background: #FFFFFF;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(160, 160, 160, 0.4); }
  .review__head {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px; }
  .review__title {
    flex: 1 1 auto;
    color: #000;
    font-weight: 700; }
  .review__date {
    color: #9E9E9E;
    margin-left: 20px;
    font-weight: 400; }

.map-box {
  overflow: hidden;
  position: relative;
  height: 300px; }
  .map-box > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.product-cart {
  display: block;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(160, 160, 160, 0.4);
  padding: 15px; }
  .product-cart__head {
    margin-bottom: 15px; }
  .product-cart__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #E7E7E7; }
  .product-cart__image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0;
    line-height: 0;
    height: 160px; }
    .product-cart__image img {
      max-height: 160px; }
  .product-cart__title {
    font-size: 14px;
    color: #122351;
    text-decoration: none;
    font-weight: 600; }
  .product-cart__price {
    font-weight: 700;
    font-size: 15px;
    margin: 5px 0 10px 0; }
  .product-cart__specs dl {
    display: block;
    margin: 5px 0;
    font-weight: 600; }
  .product-cart__specs dd,
  .product-cart__specs dt {
    display: inline; }
  .product-cart__count, .product-cart__delete {
    flex: 0 0 auto; }
  .product-cart__count-title {
    margin-bottom: 10px; }

.form {
  display: block;
  position: relative;
  padding: 15px;
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0 0 2px rgba(160, 160, 160, 0.4); }

.form-title {
  font-size: 18px;
  color: #000;
  font-weight: 500; }

.form-head {
  margin-bottom: 20px; }

.form-footer {
  text-align: center;
  margin-top: 20px; }

.form-field {
  position: relative;
  margin-bottom: 15px; }
  .form-field.form-field--bottom {
    margin-bottom: 0; }

.form-label {
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px; }

@media (min-width: 1024px) {
  .form-message textarea {
    min-height: 290px; } }

.form-checkout__head {
  margin-bottom: 15px; }

.form-checkout__user, .form-checkout__payment, .form-checkout__delivery, .form-checkout__message {
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .form-checkout__body {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr); }
  .form-checkout__user, .form-checkout__payment, .form-checkout__delivery, .form-checkout__message {
    margin-bottom: 0; }
  .form-checkout__user, .form-checkout__delivery, .form-checkout__payment {
    grid-row: span 2; } }

@media (min-width: 1024px) {
  .form-checkout__body {
    grid-template-columns: repeat(3, 1fr); }
  .form-checkout__delivery {
    grid-row: span 3; }
  .form-checkout__message {
    grid-column: span 2;
    grid-row: span 2; } }

.option {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  cursor: pointer; }
  .option [type="radio"],
  .option [type="checkbox"] {
    display: none; }
  .option__btn {
    display: block;
    color: #F78B3D;
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    position: relative; }
    .option__btn:before, .option__btn:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      box-sizing: border-box;
      border-radius: 50%;
      transition: opacity 0.3s ease-out, transform 0.3s ease-out; }
    .option__btn::before {
      width: 14px;
      height: 14px;
      margin-left: -7px;
      margin-top: -7px;
      border: 1px solid currentColor; }
    .option__btn::after {
      background: currentColor;
      width: 6px;
      height: 6px;
      margin-left: -3px;
      margin-top: -3px;
      transform: scale(0);
      opacity: 0; }
    :checked ~ .option__btn::after {
      transform: scale(1);
      opacity: 1; }
  .option__body {
    flex: 1 1 auto;
    margin-left: 5px; }
  .option__title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600; }

@keyframes header-nav {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes header-search {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes header-overlay {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.header {
  position: relative;
  z-index: 100;
  min-height: 70px; }
  .header__search, .header__nav, .header__overlay {
    animation-duration: 0.3s;
    animation-timing-function: ease-out; }
  .header__sticky {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start; }
  .header__top {
    flex: 0 0 70px;
    height: 70px;
    background: #F4F4F4;
    padding: 15px 0;
    position: relative; }
  .header__top-inner {
    display: flex;
    align-items: center;
    justify-content: center; }
  .header__overlay, .header__search, .header__menu, .header__catalog {
    display: none; }
  .header__overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation-name: header-overlay; }
  .header__search {
    position: relative;
    padding: 15px 0;
    animation-name: header-search; }
  .header__nav {
    position: relative;
    flex: 1 1 auto;
    overflow: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    max-width: 265px;
    background: #fff;
    padding-right: 5px;
    animation-name: header-nav; }
    .header__nav::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 5px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.1), #F4F4F4); }
  .header__logo {
    flex: 1 1 auto;
    font-size: 0;
    line-height: 0;
    text-align: center; }
  .header__toggle {
    margin-right: 20px; }
  .header__phone {
    margin-left: 20px; }
  .header.header--menu-active .header__overlay, .header.header--search-active .header__overlay, .header.header--catalog-active .header__overlay {
    display: block; }
  .header.header--menu-active .header__sticky, .header.header--search-active .header__sticky, .header.header--catalog-active .header__sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .header.header--menu-active .header__menu {
    display: block; }
  .header.header--catalog-active .header__catalog {
    display: block; }
  .header.header--search-active .header__search {
    display: block; }

.footer {
  padding: 20px 0;
  background: #F4F4F4;
  text-align: center; }
  .footer__copyright, .footer__privacy {
    margin-bottom: 10px;
    font-weight: 500; }
  .footer__copyright {
    color: #000; }
  .footer__privacy {
    color: #8F8F8F; }
  .footer__logo {
    font-size: 0;
    line-height: 0;
    margin-top: 20px; }
  .footer__logo-icon {
    font-size: 20px;
    color: #CBCBCB; }

@keyframes menu-sticky {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.menu-sticky {
  min-height: 50px; }
  .menu-sticky ul {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    grid-gap: 1px;
    padding: 0;
    margin: 0 -1px; }
  .menu-sticky li {
    display: inline-block;
    flex: 1 1 auto;
    padding: 1px;
    margin: 0; }
  .menu-sticky__sticky {
    background: #E8E8E8;
    z-index: 100;
    animation-duration: 0.3s;
    animation-timing-function: ease-out; }
  .menu-sticky__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F4F4F4;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 10px;
    font-weight: 600; }
    .menu-sticky__item__name, .menu-sticky__item__icon {
      display: block; }
    .menu-sticky__item__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #312E76;
      font-size: 2em;
      line-height: 0; }
    .menu-sticky__item:focus, .menu-sticky__item:active, .menu-sticky__item.is-active {
      color: #fff;
      background: #312E76; }
      .menu-sticky__item:focus .menu-sticky__item__icon, .menu-sticky__item:active .menu-sticky__item__icon, .menu-sticky__item.is-active .menu-sticky__item__icon {
        color: currentColor; }
  .menu-sticky.menu-sticky--active .menu-sticky__sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    animation-name: menu-sticky; }

.grid-catalog {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(2, 1fr);
  background: #FCFCFC;
  border-radius: 15px;
  overflow: hidden; }
  .grid-catalog__item {
    display: block;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    text-decoration: none; }
    .grid-catalog__item[href] {
      color: #312E76; }
    .grid-catalog__item:nth-child(4n + 1), .grid-catalog__item:nth-child(4n + 4) {
      background: #F6F6F6; }
    .grid-catalog__item__icon, .grid-catalog__item__img {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 10px;
      height: 50px; }
    .grid-catalog__item__icon {
      font-size: 50px; }
    .grid-catalog__item__img {
      font-size: 0;
      line-height: 0; }
      .grid-catalog__item__img img {
        max-height: 50px; }

.section-map {
  font-weight: 500; }
  .section-map__footer {
    padding: 20px 0;
    text-align: center; }

.section-contact__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #D7D7D7; }
  .section-contact__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0; }
  .section-contact__item p {
    margin: 0 0 5px 0; }
  .section-contact__item a {
    color: currentColor;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em; }
  .section-contact__item__icon {
    flex: 0 0 auto;
    margin-right: 15px; }

.section-contact__footer {
  margin-top: 20px; }

.section-products__list {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: -5px;
  margin-right: -15px;
  overflow-x: auto; }

.section-products__item {
  flex: 0 0 150px;
  max-width: 150px;
  padding: 5px 15px 5px 5px;
  scroll-snap-align: start; }

.section-about__img {
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin-bottom: 30px; }

.catalog__grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr); }

.catalog__head {
  margin-bottom: 30px; }

.catalog__footer {
  margin-top: 15px; }

.catalog__pager {
  margin-top: 20px; }

.brands-list__item {
  margin-bottom: 20px; }
  .brands-list__item:last-child {
    margin-bottom: 0; }

.reviews-list {
  margin-bottom: 20px; }
  .reviews-list__item {
    margin-bottom: 20px; }
  .reviews-list__pager {
    margin-top: 20px; }

.contacts__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px; }
  .contacts__item p {
    margin: 0; }
  .contacts__item__icon {
    flex: 0 0 auto;
    margin-right: 15px; }
  .contacts__item__title {
    font-weight: 600;
    margin-bottom: 5px; }
  .contacts__item__body {
    flex: 1 1 auto; }

.contacts__map {
  margin: 30px 0; }

.contacts__info {
  margin-top: 30px; }
  .contacts__info p {
    margin: 0; }

.contacts__info-title {
  font-size: 18px;
  font-weight: 500; }

.cart__list, .cart__total {
  margin-bottom: 30px; }

.cart__item {
  margin-bottom: 20px; }

.cart__info {
  border-radius: 6px;
  border: 1px solid #F4F4F4;
  padding: 20px 15px; }


/*# sourceMappingURL=mobile.css.map*/